
.encabezado{
  background: rgb(235, 232, 229);
  border-radius: 30px;
  margin:20px;
  text-align: center;
  padding: 10px;
}

.image{
  padding: 10px;
  border: 1px solid black;
  width: 100%;
  border-radius: 20px;
  margin: auto;
}
